*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.project
/.settings
/target
/.classpath
/simple-release-maven-plugin PREPARE-RELEASE.launch
/simple-release-maven-plugin ROLLBACK.launch
/simple-release-maven-plugin SNAPSHOT-DEPLOY.launch
/simple-release-maven-plugin PERFORM-RELEASE.launch
